@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
  height: 100%;
}

body, div, p, ul, li, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, table, td, th, header, article, footer, nav, section, input, select, a, button, video {
  margin: 0;
  padding: 0;
  border: 0;
  color: #474b53;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 160%;
}

div, p, ul, li, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, span, header, article, footer, nav, section, img, a, video {
  position: relative;
  *zoom: 1;
}

html {
  overflow-y: scroll;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
  padding: 0;
  border: 0;
}

caption {
  display: none;
}

input {
  background: #fff;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 1px solid #d3d3d3;
}

input[type=text] {
  border: 1px solid #d2d2d2;
}

input[type=tel] {
  border: 1px solid #d2d2d2;
}

input[type=email] {
  border: 1px solid #d2d2d2;
}

input[type=checkbox] {
  border: none;
}

input[type=password] {
  border: 1px solid #d2d2d2;
}

select {
  border: 1px solid #d2d2d2;
}

hr {
  display: none;
}

a {
  border: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  color: #474b53;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  display: none;
  padding: 0;
  margin: 0;
}

label {
  vertical-align: middle;
}

.img {
  border: 0;
  padding: 0;
}

.check2 {
  border: 0;
  padding: 0;
  background: #EFEFEF;
}

.justify {
  text-align: justify;
}

.b {
  font-weight: bold;
}

div:after, li:after, ul:after, dl:after, dd:after, div:before, li:before, dl:before, ul:before, dd:before {
  clear: both;
  content: "";
  display: block;
}

body {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

body>#root, body>#root>#app {
  width: 100%;
  height: 100%;
  position: relative;
}

video {
  width: 200px;
  height: 100px;
}

.container {
  width: 100%;
}

.container .navbar-start {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding:20px 0;
  border-bottom: 1px solid #d3d3d3;
}

.container .navbar-start .nav-content {
  width: 1200px;
  margin: 0 auto;
}

.container .navbar-start .nav-content .nav-menu {
  float: left;
}

.container .navbar-start .nav-content .nav-menu dl dt {
  margin-right: 30px !important;
}

.container .navbar-start .nav-content .nav-menu dl dt,
.container .navbar-start .nav-content .nav-menu dl dd {
  display: inline-block;
  vertical-align: middle;
}

.container .navbar-start .nav-content .nav-menu dl dt a {
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
}

.container .navbar-start .nav-content .nav-menu dl dt a img {
  vertical-align: middle;
  height: 40px;
}

.container .navbar-start .nav-content .nav-menu dl dd {
  padding:0 15px;
  position: relative;
}

.container .navbar-start .nav-content .nav-menu dl dd:last-child::after{
  display: none;
}

.container .navbar-start .nav-content .nav-menu dl dd::after {
  content: '';
  display: block;
  height: 20px;
  width: 1px;
  background:#d3d3d3;
  position: absolute;
  top: 7px;
  right: 0;
}

.container .navbar-start .nav-content .nav-menu dl dd p,
.container .navbar-start .nav-content .nav-menu dl dd a {
  display: block;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  color:#222;
  transition: 0.2s color ease-in;
}

.container .navbar-start .nav-content .nav-menu dl dd p:hover,
.container .navbar-start .nav-content .nav-menu dl dd a:hover {
  color:#3290cf;
}

.container .navbar-start .nav-content .user-info-nav {
  float: right;
}

.container .navbar-start .nav-content .user-info-nav p {
  color: rgb(126, 126, 126);
  font-size: 18px;
  line-height: 40px;
  vertical-align: middle;
}

.container .navbar-start .nav-content .user-info-nav p.userIn {
  color:#222;
}

.container .navbar-start .nav-content .user-info-nav p.userIn img {
  vertical-align: middle;
  width: 28px;
  height: 28px;
  border-radius: 5px;
}

.rooms-list {
  width: 1200px;
  margin: 40px auto 100px auto;
  padding: 20px;
  padding-top: 0;
}

.rooms-list dt {
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.rooms-list dt .title {
  margin-bottom: 0;
  line-height: 40px;
}

.title {
  text-align: right;
  font-size: 40px;
  color: #306dbc;
  margin: 20px 0 10px 0;
  font-family: 'Roboto', sans-serif;
}

.title em {
  font-style: normal;
  display: block;
}

.title em {
  font-size: 20px;
  position: relative;
  color: #3e3e3ecc;
}

.navbar-item {
  color: #fff;
}

.rooms-list dl {
  text-align: center;
}

.rooms-list dd {
  width: 49%;
  float: left;
  margin: 0 0 20px 0;
  position: relative;
  background: #fff;
  border-radius: 2px;
  transition: 0.3s background ease-in-out;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  padding-top: 10px;
  padding-bottom: 15px;
}

.rooms-list dd:nth-child(odd) {
  float: right;
  margin-right: 0;
}

.rooms-list dd.no-channel {
  margin:0;
  width: 100%;
  font-size:25px;
  font-weight: bold;
  background: none;
  padding:50px 0;
}

.rooms-list dd.no-channel:hover{
  background: none;
}

.rooms-list dd:hover {
  background: #e6e6e6;
}

.rooms-list dd h3 {
  color: #222;
  padding: 15px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 26px;
  line-height: 40px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
}

.rooms-list dd .del-enter {
  position: absolute;
  bottom: 17px;
  left: 15px;
}

.rooms-list dd button {
  cursor: pointer;
  font-size: 19px;
  padding: 4px 10px;
  border-radius: 5px;
  background: #3c90ff;
  color: #fff;
  outline: none;
  top: 10px;
  right: 10px;
  margin-right: 5px;
  transition: 0.2s background ease-in;
}

.rooms-list dd button:nth-child(2) {
  background: #72727c;
}

.rooms-list dd button:nth-child(2):hover {
  background: #37373b;
}

.password-form {
  display: block;
  width: 100%;
  height: 40px;
}

.rooms-list dd h3 p {
  font-size: 18px;
  text-align: right;
  margin-top: 15px;
}

.meeting-room-create {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 81px);
}

.meeting-room-create .rooms_title {
  margin-top: -266px;
  height: auto;
  width: 550px;
}

.meeting-room-create h1 {
  color: #555;
  text-align: center;
  margin-bottom: 20px;
  height: 85px;
}

.meeting-room-create form {
  width: 100%;
}

.meeting-room-create .inputbox {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #d3d3d3;
}

.meeting-room-create .rooms_title input {
  width: 100%;
  height: 70px;
  font-size: 20px;
  line-height: 70px;
  font-weight: 500;
  vertical-align: middle;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #a8a9b0;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0.000001deg);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.meeting-room-create input:last-child{
  margin-bottom: 0;
}

.meeting-room-create .rooms_title button {
  width: 100%;
  height: 70px;
  border: none;
  vertical-align: top;
  background: #3c90ff;
  cursor: pointer;
  color: #fff;
  margin: 20px 0 10px 0;
  font-size: 25px;
  font-weight: bold;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0.000001deg);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  transition: 0.2s background ease-in;
}

.meeting-room-create .navbar-item {
  font-size: 18px;
  border: 1px solid #a8a9b0;
  padding: 3px 7px;
  border-radius: 4px;
  color: #333;
  top: -10px;
  transition: 0.2s color ease-in;
}

.meeting-room-create .navbar-item:hover {
  color:#3290cf;
}

.details-box {
  width: 1200px;
  height: calc(100% - 81px);
  margin: 0 auto;
}

.details-box input[type=text] {
  color: #222;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  bottom: 60px;
  left: 0;
}

.sidebar.local {
  width: 23%;
  height: 100%;
  float: left;
  margin-right: 1%;
  height: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.4);
}

.sidebar.local h2 {
  width: 85%;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  margin: 20px auto 0 auto;
  position: relative;
}

.sidebar.local h2 em {
  float: right;
  margin-right: 10px;
  bottom: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}

.localBox {
  width: 85%;
  height: 250px;
  margin: 10px auto 20px auto;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0.000001deg);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  background: url('http://rochdalepioneerspartnership.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png') no-repeat;
  background-size: 100% 100%;
}

.localBox #localVideo {
  object-fit: fill;
  width: 100%;
  height: 100%;
  position: relative;
  transform: scaleX(-1);
}

.localBox .nick {
  background: rgba(0, 0, 0, 0.5) !important;
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.localBox .nick p {
  line-height: 40px;
  font-size: 17px;
  color: #fff;
}

.remotevideo {
  margin-top: 57.5px;
  width: 76%;
  float: left;
}

.remotevideo .vidContainer {
  float: left;
  width: 24%;
  height: 250px;
  margin: 0 1% 15px 0;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0.000001deg);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: url('http://rochdalepioneerspartnership.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png') no-repeat;
  background-size: 100% 100%;
}

.remotevideo .vidContainer video {
  object-fit: fill;
  width: 100%;
  height: 100%;
  position: relative;
}

.remotePeerList {
  margin-top: 100px;
  width: 85%;
  margin: 40px auto 0 auto;
  text-align: center;
}

.remotevideo .nick {
  background: rgba(0, 0, 0, 0.5) !important;
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.remotevideo .nick p {
  line-height: 40px;
  font-size: 17px;
  color: #fff;
}

.remotePeerList * {
  color: #333;
}

.remotePeerList h3 {
  font-size: 30px;
  border-bottom: 1px solid rgb(206, 206, 206);
  margin-bottom: 10px;
  text-align: left;
}

.remotePeerList ul {
  width: 100%;
}

.remotePeerList ul li {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 7px;
}

.remotePeerList ul li p {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}

.remotePeerList ul li img {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  margin-right: 5px;
}

.buttons {
  text-align: center;
}

.buttons p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.buttons button {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}

.buttons button i {
  vertical-align: middle;
  background: #1d2329;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
}

.buttons button i.fa-volume-up {
  background: #11a736;
}

.about {
  height: calc(100% - 81px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.about-content .about-img {
  width: 42%;
  height: 500px;
  background: url('https://github.com/seoksanghwan/videosConf---client/blob/master/src/img/webcamconf.png?raw=true') no-repeat center top;
  background-size: 100%;
}

.about-content .about-info-text {
  width: 44%;
}

.about-content .about-info-text h2 {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  color:#222;
}

.about-content .about-info-text p {
  font-size: 25px;
}

.goingChannel {
  width: 100%;
  font-size: 0;
  margin-top: 25px;
}

.goingChannel input {
  display: inline-block;
  width: 65%;
  margin-right: 2%;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  border: #a8a9b0 1px solid;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0.000001deg);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
}

.goingChannel button {
  display: inline-block;
  color: #fff;
  width: 28%;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  background: #3c90ff;
  font-size: 22px;
  font-weight: 500;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0.000001deg);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
  transition: 0.2s background ease-in;
}

.AlertBox {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContent {
  width: 600px;
  padding: 50px 0;
  background: #fff;
  text-align: center;
  position: relative;
}

.loginContent .close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.loginContent h2 {
  font-size: 24px;
}

.loginContent h3 {
  font-size: 24px;
  margin-bottom: 10px;
  white-space: pre-line;
}

.loginContent input {
  width: 48%;
  margin-right: 1%;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  border: #a8a9b0 1px solid;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0.000001deg);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
}

.loginContent button {
  width: 25%;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  background: #3c90ff;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0.000001deg);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
}

.pass-check {
  margin-top: 15px;
}

.pass-check p {
  font-size: 15px;
  font-weight: bold;
  color: #3c29aa;
}

.pass-check .sucess-password,
.pass-check a {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 7px;
  color: #fff;
  background: #15bc32;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0.000001deg);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: inline;
}

.fa-spinner {
  animation: spinner infinite 3s linear;
  margin-left: 4px;
}

.goingChannel-Check-Message {
  text-align: center;
  font-size: 14px !important;
}

.removeAlertBox {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.removeAlertBox .loginContent {
  width: 400px;
}

.loadspin{
  background : url('https://community.thunkable.com/uploads/default/original/1X/a8c639f5bd67f6eecf3b7f2209c7e7fada621f9c.png') no-repeat center center;
  width: 100%;
  height: 100%;
  animation: spinner infinite 3s linear;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.goingChannel button:hover,
.meeting-room-create button:hover, 
.rooms-list dd button:hover {
  background: #1e7dfc;
}