@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
  position: relative;
  height: 100%;
  min-height: 100vh;
}

body,
div,
p,
ul,
li,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
table,
td,
th,
header,
article,
footer,
nav,
section,
input,
select,
a,
button,
video {
  margin: 0;
  padding: 0;
  border: 0;
  color: #474b53;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 160%;
}

div,
p,
ul,
li,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
span,
header,
article,
footer,
nav,
section,
img,
a,
video {
  position: relative;
  *zoom: 1;
}

html {
  overflow-y: scroll;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
  padding: 0;
  border: 0;
}

caption {
  display: none;
}

input {
  background: #fff;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 1px solid #d3d3d3;
}

input[type=text] {
  border: 1px solid #d2d2d2;
}

input[type=tel] {
  border: 1px solid #d2d2d2;
}

input[type=email] {
  border: 1px solid #d2d2d2;
}

input[type=checkbox] {
  border: none;
}

input[type=password] {
  border: 1px solid #d2d2d2;
}

select {
  border: 1px solid #d2d2d2;
}

hr {
  display: none;
}

a {
  border: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  color: #474b53;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  display: none;
  padding: 0;
  margin: 0;
}

label {
  vertical-align: middle;
}

.img {
  border: 0;
  padding: 0;
}

.check2 {
  border: 0;
  padding: 0;
  background: #EFEFEF;
}

.justify {
  text-align: justify;
}

.b {
  font-weight: bold;
}

div:after,
li:after,
ul:after,
dl:after,
dd:after,
div:before,
li:before,
dl:before,
ul:before,
dd:before {
  clear: both;
  content: "";
  display: block;
}

body {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

body>#root,
body>#root>#app {
  width: 100%;
  height: 100%;
  position: relative;
}

video {
  width: 200px;
  height: 100px;
}

.container {
  width: 100%;
}

.container .navbar-start {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 20px 0;
  border-bottom: 1px solid #d3d3d3;
  .nav-content {
    width: 1200px;
    margin: 0 auto;
    .nav-menu {
      float: left;
      dl dt {
        margin-right: 30px !important;
        a {
          font-family: 'Roboto', sans-serif;
          vertical-align: middle;
          img {
            vertical-align: middle;
            height: 40px;
          }
        }
      }
      dl dt,
      dl dd {
        display: inline-block;
        vertical-align: middle;
      }
      dd {
        padding: 0 15px;
        position: relative;
        p,
        a {
          display: block;
          font-size: 20px;
          font-family: 'Roboto', sans-serif;
          cursor: pointer;
          color: #222;
          transition: 0.2s color ease-in;
        }
        p:hover,
        a:hover {
          color: #3290cf;
        }
        &:after {
          content: '';
          display: block;
          height: 20px;
          width: 1px;
          background: #d3d3d3;
          position: absolute;
          top: 7px;
          right: 0;
        }
        &:last-child::after {
          display: none;
        }
      }
    }
    .user-info-nav {
      float: right;
      p {
        color: rgb(126, 126, 126);
        font-size: 18px;
        line-height: 40px;
        vertical-align: middle;
      }
      p.userIn {
        color: #222;
        img {
          vertical-align: middle;
          width: 28px;
          height: 28px;
          border-radius: 5px;
        }
      }
    }
  }
}

.rooms-list {
  width: 1200px;
  height: auto;
  min-height: calc(100% - 81px - 62px - 60px);
  margin: 40px auto 0 auto;
  padding: 20px;
  padding-top: 0;
  dl {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    text-align: center;
    dt {
      margin-bottom: 30px;
      padding-bottom: 20px;
      .title {
        margin-bottom: 0;
        line-height: 40px;
        text-align: right;
        font-size: 40px;
        color: #3e4753;
        margin: 20px 0 10px 0;
        font-family: 'Roboto', sans-serif;
        em {
          font-style: normal;
          display: block;
          font-size: 20px;
          position: relative;
          color: #3e3e3ecc;
        }
      }
    }
    dd {
      width: 49%;
      float: left;
      margin: 0 0 20px 0;
      position: relative;
      background: #fff;
      border-radius: 2px;
      transition: 0.3s background ease-in-out;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
      position: relative;
      padding-top: 10px;
      padding-bottom: 15px;
      &:nth-child(odd) {
        float: right;
        margin-right: 0;
      }
      &:hover {
        background: #e6e6e6;
      }
      h3 {
        color: #222;
        padding: 15px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 26px;
        line-height: 40px;
        display: block;
        width: 100%;
        height: 100%;
        text-align: left;
        p {
          font-size: 18px;
          text-align: right;
          margin-top: 15px;
        }
      }
      .del-enter {
        position: absolute;
        bottom: 17px;
        left: 15px;
      }
      button {
        cursor: pointer;
        font-size: 19px;
        padding: 4px 10px;
        border-radius: 5px;
        background: #3c90ff;
        color: #fff;
        outline: none;
        top: 10px;
        right: 10px;
        margin-right: 5px;
        transition: 0.2s background ease-in;
        &:nth-child(2) {
          background: #72727c;
        }
        &:nth-child(2):hover {
          background: #37373b;
        }
      }
    }
    dd.no-channel {
      margin: 0;
      width: 100%;
      font-size: 25px;
      font-weight: bold;
      background: none;
      padding: 50px 0;
    }
    dd.roomsList-loader {
      margin: 0;
      width: 100%;
      box-shadow: none;
      position: relative;
      p {
        position: absolute;
        width: 100%;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        z-index: 2;
        top: 30px;
      }
      .three-cogs {
        position: relative;
        z-index: 1;
        opacity: .2;
        >.fa:nth-child(1) {
          animation-duration: 4s;
        }
        >.fa:nth-child(2),
        >.fa:nth-child(3) {
          position: absolute;
          top: -0.2em;
          right: 12.40em;
          animation-direction: reverse;
          animation-duration: 2s;
        }
        >.fa:nth-child(3) {
          top: auto;
          bottom: -0.2em;
        }
      }
    }
    dd.no-channel:hover,
    dd.roomsList-loader:hover {
      background: none;
    }
  }
}

.navbar-item {
  color: #fff;
}

.password-form {
  display: block;
  width: 100%;
  height: 40px;
}

.NotSupport {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100%);
  width: 100%;
  text-align: center;
  p {
    font-size: 30px;
    color: #222;
    a {
      display: block;
      background: rgb(61, 126, 211);
      color: #fff;
      width: 200px;
      padding: 20px 0;
      margin: 10px auto 0 auto;
      font-size: 17px;
    }
  }
  .NotSupportText {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 100px;
    vertical-align: bottom;
    font-weight: bold;
    opacity: .2;
  }
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Internet_Explorer_10%2B11_logo.svg/611px-Internet_Explorer_10%2B11_logo.svg.png') no-repeat right bottom #eee;
    background-size: 500px;
    z-index: -1;
  }
}

.meeting-room-create {
  height: calc(100% - 81px - 62px);
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .meeting-form-box {
    display: flex;
  }
  .rooms-title {
    height: 400px;
    width: 550px;
    input {
      width: 100%;
      height: 70px;
      font-size: 20px;
      line-height: 70px;
      font-weight: 500;
      vertical-align: middle;
      box-sizing: border-box;
      outline: none;
      text-align: center;
      margin-bottom: 10px;
      background: #fff;
      border: 1px solid #a8a9b0;
      -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
      -webkit-transform: rotate(0.000001deg);
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    button {
      width: 100%;
      height: 70px;
      border: none;
      vertical-align: top;
      background: #3c90ff;
      cursor: pointer;
      color: #fff;
      margin: 20px 0 10px 0;
      font-size: 25px;
      font-weight: bold;
      -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
      -webkit-transform: rotate(0.000001deg);
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      transition: 0.2s background ease-in;
    }
    .goingChannel-Check-Message {
      text-align: center;
      font-size: 14px !important;
    }
  }
  h1 {
    color: #555;
    text-align: center;
    margin-bottom: 20px;
    height: 85px;
  }
  form {
    width: 100%;
  }
  .inputbox {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
  }
}

.details-box {
  width: 1200px;
  height: calc(100% - 81px - 62px);
  margin: 0 auto;
  input[type=text] {
    color: #222;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
    bottom: 60px;
    left: 0;
  }
}

.sidebar.local {
  width: 21.5%;
  height: 100%;
  float: left;
  position: relative;
  background: #f8f8fa;
  box-sizing: border-box;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  overflow: hidden;
  h2 {
    width: 85%;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    margin: 20px auto 0 auto;
    position: relative;
    font-family: 'Roboto', sans-serif;
    em {
      float: right;
      margin-right: 10px;
      bottom: 0;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
    }
  }
  .localBox {
    width: 85%;
    height: 250px;
    margin: 10px auto 15px auto;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-transform: rotate(0.000001deg);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    background: url('http://rochdalepioneerspartnership.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png') no-repeat;
    background-size: 100% 100%;
    #localVideo {
      object-fit: fill;
      width: 100%;
      height: 100%;
      position: relative;
      transform: scaleX(-1);
    }
    .nick {
      background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: left;
      box-sizing: border-box;
      padding: 10px;
      p {
        display: inline-block;
        background: rgba(0, 0, 0, 0.5);
        line-height: 30px;
        font-size: 15px;
        color: #fff;
        padding: 0 10px;
        vertical-align: middle;
        border-radius: 10px;
        margin-right: 3px;
      }
    }
    .buttons {
      background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
      width: 100%;
      line-height: 30px;
      text-align: left;
      display: inline-block;
      vertical-align: middle;
      float: right;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding: 10px;
      p {
        font-size: 16px;
        font-weight: bold;
        vertical-align: middle;
      }
      button {
        display: inline-block;
        text-align: center;
        width: 40px;
        height: 30px;
        border-radius: 10px;
        margin: 0 3px;
        color: #fff;
        outline: none;
        cursor: pointer;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.5);
        i {
          vertical-align: middle;
          display: block;
          width: 100%;
          height: 100%;
          line-height: 30px;
        }
        i.fa-volume-up {
          background: #11a736;
        }
      }
    }
  }
  .remotePeerList {
    border-top: 1px solid rgb(206, 206, 206);
    margin: 40px auto 0 auto;
    height: 100%;
    width: 100%;
    background: #fff;
    h3 {
      width: 85%;
      margin: 0 auto;
      font-size: 18px;
      margin-bottom: 10px;
      text-align: left;
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      padding-top: 10px;
      em {
        font-style: normal;
        margin-right: 5px;
        i {
          margin-right: 2px;
          color: #26ad5e;
        }
      }
    }
    ul {
      width: 85%;
      margin: 0 auto;
      li {
        font-size: 15px;
        text-align: left;
        font-weight: bold;
        margin-bottom: 5px;
        line-height: 25px;
        p {
          display: inline-block;
          vertical-align: middle;
          font-size: 15px;
        }
        img {
          width: 25px;
          height: 25px;
          display: inline-block;
          vertical-align: middle;
          border-radius: 5px;
          margin-right: 2px;
        }
      }
    }
  }
}

.remotevideo {
  width: 78.5%;
  height: 100%;
  float: left;
  border-right: 1px solid #d3d3d3;
  box-sizing: border-box;
  .remoteList {
    padding-top: 58px;
    width: 94.5%;
    margin: 0 auto;
  }
  .vidContainer {
    float: left;
    width: 23.5%;
    height: 250px;
    margin: 0 2% 15px 0;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-transform: rotate(0.000001deg);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: url('http://rochdalepioneerspartnership.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png') no-repeat;
    background-size: 100% 100%;
    video {
      object-fit: fill;
      width: 100%;
      height: 100%;
      position: relative;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
  .nick {
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 10px 10px;
    p {
      display: inline-block;
      background: rgba(0, 0, 0, 0.5);
      line-height: 30px;
      font-size: 15px;
      color: #fff;
      padding: 0 10px;
      vertical-align: middle;
      border-radius: 10px;
      margin-right: 3px;
    }
  }
}

.about {
  height: calc(100% - 81px - 62px);
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .about-content {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    .about-img {
      width: 42%;
      height: 400px;
      background: url('https://github.com/seoksanghwan/videosConf---client/blob/master/src/img/webcamconf.png?raw=true') no-repeat center top;
      background-size: 100%;
    }
    .about-info-text {
      width: 44%;
      h2 {
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        color: #222;
      }
      p {
        font-size: 25px;
      }
      .goingChannel {
        width: 100%;
        font-size: 0;
        margin-top: 25px;
        input {
          display: inline-block;
          width: 65%;
          margin-right: 2%;
          height: 60px;
          line-height: 60px;
          box-sizing: border-box;
          text-align: center;
          font-size: 18px;
          border: #a8a9b0 1px solid;
          -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
          -webkit-transform: rotate(0.000001deg);
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          vertical-align: middle;
        }
        button {
          display: inline-block;
          color: #fff;
          width: 28%;
          height: 60px;
          line-height: 60px;
          cursor: pointer;
          background: #3c90ff;
          font-size: 22px;
          font-weight: 500;
          -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
          -webkit-transform: rotate(0.000001deg);
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          vertical-align: middle;
          transition: 0.2s background ease-in;
        }
        .goingChannel-Check-Message {
          text-align: center;
          font-size: 14px !important;
        }
      }
    }
  }
}

.AlertBox {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContent {
  width: 600px;
  padding: 50px 0;
  background: #fff;
  text-align: center;
  position: relative;
  .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 15px;
    white-space: pre-line;
  }
  input {
    width: 48%;
    margin-right: 1%;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    border: #a8a9b0 1px solid;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-transform: rotate(0.000001deg);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    vertical-align: middle;
  }
  .sucess-button {
    width: 40%;
    font-size: 22px;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    margin: 0 auto;
    background: #fff;
    border: 2px solid #3c90ff;
    color: #3c90ff;
    font-weight: bold;
    box-sizing: content-box;
    transition: 0.2s background ease-in, 0.2s color ease-in;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-transform: rotate(0.000001deg);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    &:hover {
      background: #3c90ff;
      color: #fff;
    }
  }
  button {
    width: 25%;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    background: #3c90ff;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-transform: rotate(0.000001deg);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    vertical-align: middle;
  }
  .pass-check {
    margin-top: 15px;
    p {
      font-size: 15px;
      font-weight: bold;
      color: #3c29aa;
    }
    .sucess-password,
    a {
      font-size: 15px;
      font-weight: bold;
      color: #4479cb;
      -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
      -webkit-transform: rotate(0.000001deg);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      display: inline;
    }
    .fa-spinner {
      margin-left: 4px;
    }
    .goingChannel-Check-Message {
      text-align: center;
      font-size: 14px !important;
    }
  }
}

.removeAlertBox {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .loginContent {
    width: 400px;
  }
}

.loadspin {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  position: relative;
  .three-cogs {
    position: relative;
    width: 100%;
    >.fa:nth-child(1) {
      animation-duration: 4s;
    }
    >.fa:nth-child(2),
    >.fa:nth-child(3) {
      position: absolute;
      top: -0.2em;
      right: 18.15em;
      animation-direction: reverse;
      animation-duration: 2s;
    }
    >.fa:nth-child(3) {
      top: auto;
      bottom: -0.2em;
    }
  }
}

.goingChannel button:hover,
.meeting-room-create button:hover,
.rooms-list dd button:hover {
  background: #1e7dfc;
}

.delbutton {
  display: inline-block;
  margin-top: 10px;
  li {
    display: inline-block;
    width: 150px;
    button {
      display: block;
      width: 100%;
      border: 1px solid #3c90ff;
      box-sizing: border-box;
    }
  }
  li:first-child {
    margin-right: 10px;
  }
  li:last-child button {
    background: #fff;
    color: #3c90ff;
  }
}

.warning-page {
  height: calc(100% - 81px - 62px - 50px);
  text-align: center;
  margin-top: 50px;
  p {
    font-size: 30px;
  }
  p.import {
    color: #ff2448;
    font-size: 20px;
  }
}

footer {
  background: #f1f1f1;
  text-align: center;
  padding: 20px 0;
  p {
    font-size: 14px;
    color: #bababa;
    font-family: 'Roboto', sans-serif;
  }
}